body {
    font-family: Roboto;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    color: #2E2F42;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-decoration: none;
}
.logo-accent {
    color: #4D5AE5;
}
.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
}
.nav-link:active {
    color: #404BBF;
}

.adress-link {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.adress-link:hover,
.adress-link:focus {
    color: #404BBF;
}

.hero-section {
    background-color: #2E2F42;
}

.hero-title {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.hero-button {
    background-color: #4D5AE5;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.hero-button:hover {
    background-color: #404BBF;
    color: #fff;
}

.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.40px
}

.features-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px
}

.team-title-section {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.72px
}

.team-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.40px
}

.team-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px
}

.portfolio-title-section {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.72px;
}

.portfolio-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.40px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}